/* 
TO DO index.html.
Add more cloud in different sizes, add animation from left to right.
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Waiting+for+the+Sunrise&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Just+Me+Again+Down+Here&display=swap');

body {
    background-color: #25876f;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    color: black;
    font-family: 'Just Me Again Down Here', cursive;
    user-select: none;
    touch-action: manipulation;
}

/* BACKGROUND COLORS */

.bg-light {
    background-color: white !important;
}

.bg-color-game {
    background-color: transparent;
}

.bg-color-footer {
    background-color: transparent;
}

/* CONTAINERS */

.container-fluid {
    padding: 0;
    margin: 0;
    width: 100%;
}

.turn-container,
.counter-container,
.score-container {
    padding-right: 0;
    z-index: 1;
    text-align: center;
}

.game-container {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Waiting for the Sunrise', cursive;
    display: grid;
    grid-gap: 7px;
    grid-template-columns: repeat(3, 1fr);
    cursor: pointer;
    z-index: 1;
}

.xo-container {
    position: relative;
    margin: 0;
    background-color: white;
    border-radius: 15%;
    box-shadow: 12px 12px 2px 1px rgb(0 0 0 / 65%);
    z-index: 1;
}

.turn-container span,
.counter-container span,
.score-container span:first-child {
    color: #fff;
    font-size: 3rem;
    font-family: 'Waiting for the Sunrise', cursive;
}

.score-container span:nth-child(2) {
    font-size: 3rem;
    font-family: 'Waiting for the Sunrise', cursive;
    color: black;
}

.score-container h1 {
    font-size: 3rem;
}

footer.container-fluid.bg-color-footer {
    position: relative;
    bottom: 0;
    height: 62px;
}

/* NAVBAR */

.navbar {
    width: 100%;
    padding-top: 0px;
    padding-bottom: 0px;
}

.navbar.bg-light {
    background-color: white !important;
}

.navbar-light .navbar-brand {
    color: black !important;
    margin-left: 1rem;
}

.navbar-light .navbar-nav .nav-link {
    color: black !important;
    font-size: 1.7rem;
    margin-left: 1rem;
    margin-bottom: .5rem;
}

.navbar-light .navbar-toggler {
    border: none !important;
    margin-right: 1rem;
}

.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: 0 0 0 0.1rem;
}

.navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
    margin-right: 1.5rem;
}

.hvr-underline-reveal:before {
    background: black;
}

.hvr-underline-reveal {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    overflow: hidden;
    width: auto;
}

/* MESSAGES */

.gameover-message,
.winning-message,
.tie-message {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: rgb(255 255 255 / 90%);
    visibility: hidden;
    z-index: 100;
}

.gameover-message h1,
.tie-message h1,
.winning-message h1 {
    font-size: 10rem;
    color: black;
}

.gameover-message button,
.tie-message button,
.winning-message button {
    border: none;
    font-size: 2rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 2%;
}

.hvr-sweep-to-top:before {
    background: rgba(0, 0, 0, 0.3);
}

.show {
    visibility: visible;
}

.winning-message p,
.gameover-message p,
.tie-message p {
    font-size: 2rem;
}

.winning-message span {
    font-family: 'Waiting for the Sunrise', cursive;
}


/* MEDIA BREAKPOINTS */

/* Small devices (landscape phones, max 576px) */

@media (max-width: 576px) {

    .game-container {
        width: 250px;
        height: 250px;
        text-align: center;

    }

    .xo-container {
        width: 80px;
        height: 80px;
        font-size: 60px;
    }

    .gameover-message h1,
    .tie-message h1,
    .winning-message h1 {
        font-size: 5rem;
    }

    footer.container-fluid.bg-color-footer {
        position: relative;
        bottom: 0;
        height: 62px;
    }

    .turn-container h1,
    .counter-container h1,
    .score-container h1 {
        font-size: 1rem;
    }

    .bgButton {
        font-size: 1rem;
    }

    .turn-container span,
    .counter-container span {
        font-size: 1.5rem;
    }

    .score-container span:first-child,
    .score-container span:nth-child(2) {
        font-size: 1rem;
    }
}

/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) {
    .game-container {
        width: 310px;
        height: 310px;
        font-size: 75px;
    }

    .xo-container {
        width: 100px;
        height: 100px;
    }
}

/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {

    .game-container {
        width: 460px;
        height: 460px;
        font-size: 100px;
    }

    .xo-container {
        width: 150px;
        height: 150px;
    }
}

/* ADDITIONAL STYLING */

.text-center {
    text-align: center;
}

.bgButton {
    margin: 0 auto;
    display: block;
    border: none;
    font-size: 1.8rem;
    background-color: white;
    box-shadow: 5px 5px rgb(0 0 0 / 65%);
}

.color-white,
.text-white {
    color: white;
}

span.questionmark {
    color: white;
}

i.far.fa-smile-beam {
    color: white;
}