@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Waiting+for+the+Sunrise&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Just+Me+Again+Down+Here&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

body {
    background-color: #25876f;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    color: black;
    font-family: 'Just Me Again Down Here', cursive;
    user-select: none;
    touch-action: manipulation;
}


/* CONTAINERS */

.container-fluid {
    padding: 0;
    margin: 0;
    width: 100%;
}

/* NAVBAR */

.navbar {
    width: 100%;
    padding-top: 0px;
    padding-bottom: 0px;
}

.navbar.bg-light {
    background-color: #fff8e6 !important;
}

.navbar-light .navbar-brand {
    background-color: black !important;
    height: 3rem;
    width: 3rem;
    font-size: 1.5rem;
    border-radius: 50%;
    font-family: 'Sacramento', cursive;

    margin-left: 1rem;
}

.navbar-light .navbar-brand p {
    color: #fff8e6 !important;
    margin-top: .25rem;
    margin-left: .1rem;
}

.navbar-light .navbar-nav .nav-link {
    color: black !important;
    font-size: 1.7rem;
    margin-left: 1rem;
    margin-bottom: .5rem;
}

.navbar-light .navbar-toggler {
    border: none !important;
    margin-right: 1rem;
}

.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: 0 0 0 0.1rem;
}

.navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
    margin-right: 1.5rem;
}

.hvr-underline-reveal:before {
    background: black;
}

.hvr-underline-reveal {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    overflow: hidden;
    width: auto;
}

/* MEDIA BREAKPOINTS */

@media (max-width: 991px) {
    .navbar-light .navbar-brand {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }
}


/* ADDITIONAL STYLING */

.text-center {
    text-align: center;
}