@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Waiting+for+the+Sunrise&display=swap');

body {
    background-color: #7fc3ccc4;
}

/* CONTAINERS */

.tutorial-container h1 {
    font-size: 3.5rem;
}

.tutorial-container h2 {
    font-size: 2.5rem;
}

.tutorial-container p {
    font-size: 2rem;
}

.tutorial-container span {
    color: #fff;
    font-size: 3rem;
    font-family: 'Waiting for the Sunrise', cursive;
}

.tutorial-container span:nth-child(2),
span:nth-child(4) {
    font-size: 3rem;
    font-family: 'Waiting for the Sunrise', cursive;
    color: black;
}

/* ADDITIONAL CONTENT */

img,
svg {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

hr {
    border: 4px solid white !important;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    opacity: 1 !important;
}

/* MEDIA BREAKPOINTS */
@media (min-width: 992px) {

    .navbar-nav {
        margin-left: 0;
    }
}

@media only screen and (min-width: 375px) and (max-width: 823px) and (orientation: landscape) {
    .tutorial-container {
        margin-top: 1rem !important;
    }

    .tutorial-container h1 {
        font-size: 1rem;
    }

    .header-tutorial {
        font-size: 1.5rem !important;
    }

    .tutorial-container h2 {
        font-size: 1rem;
        padding-top: 0 !important;
    }

    .tutorial-container p {
        font-size: 1rem;
        margin-bottom: 0;
    }

    .tutorial-container span {
        font-size: 1rem;
    }

    .tutorial-container span:nth-child(2),
    span:nth-child(4) {
        font-size: 1rem;
    }

    img,
    svg {
        width: 200px;
        height: 200px;
    }

    hr {
        border: 2px solid white !important;
    }
}

@media only screen and (min-width: 320px) and (max-width: 736px) and (orientation: landscape) {

    .tutorial-container {
        margin-top: 1rem !important;
    }

    .tutorial-container h1 {
        font-size: 1rem;
    }

    .header-tutorial {
        font-size: 1.5rem !important;
    }

    .tutorial-container h2 {
        font-size: 1rem;
        padding-top: 0 !important;
    }

    .tutorial-container p {
        font-size: 1rem;
        margin-bottom: 0;
    }

    .tutorial-container span {
        font-size: 1rem;
    }

    .tutorial-container span:nth-child(2),
    span:nth-child(4) {
        font-size: 1rem;
    }

    img,
    svg {
        width: 100px;
        height: 100px;
    }

    hr {
        border: 2px solid white !important;
    }
}